.site-logo{
    width: 100px !important;
    display: block;
}
.link-no-decoration {
    text-decoration: none !important;
    /* Ajoutez d'autres styles personnalisés si nécessaire */
}
.menu-item>a{
    text-decoration: none;
    padding-left: 0.2em;
    padding-right: 0.2em;
    color: gray;
    font-weight: bold;

}
.navbar-toggler{
    width: 20px !important;
    height: 20px !important;
}
img{
    max-width: 100%;
    height: auto;
}

.view-prouct-homepage{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.highlighted-wrapper{
    background: url('../images/bg-head-home.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    position: relative;
}
.highlighted-wrapper .container{
    padding: 40px 0;
}
.highlighted-wrapper a{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}
.contextual-region{
    position: static;
}
@media (min-width: 769px) {
    .menu-item{
        border: none !important;
    }
    .menu{
        display: flex !important;
        flex-direction: row;    
        justify-content: flex-end;

    }
    .view-prouct-homepage .view-content{
        display: flex;
        flex-direction: row;
    }
    .view-id-prouct_homepage .views-row{
        margin: 10px;
        padding: 10px;
    }
}

